.page_wrapper {
    font-family: 'Open Sans';
    font-size: 18px;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 970px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.site_name{
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.nav_item{
    display: inline-block;
}
.nav_list {
    font-size: 0;
    text-align: center;
}

.nav_link.active{
    color: #000;
}

.nav_link {
    text-transform: capitalize;
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 20px;
    display: inline-block;
}

.main_nav {
    border-bottom: 1px solid #828282;
}

.main_screen {
    margin-top: 12px;
}

.site_heading {
    font-weight: 700;
     font-size: 34px;
    margin-bottom: 50px;
    text-transform: capitalize;
    text-align: center;
}
.site_under_heading{
    text-align: center;
}

.about_me {
    background-color: #f6f6f6;
    padding: 100px 0;
    text-align: center;
}

.about_description{
    width: 100%;
    min-width: 480px;
    margin: 0 auto;
}

.about_description p{
    margin-bottom: 30px;
}

.skills {
    padding: 100px 0;
}

.skill_item {
    text-align: center;
    width: 170px;
}

.skill_img {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
}

.skills_content {
    margin-top: 50px;
    display: inline-block;
    margin-right: 90px;
}

.skills_content:last-child {
    margin-right: 0;
}

.skill_item_name {
   font-weight: 700;
   font-size: 14px;
   color: #828282;
   text-transform: capitalize;
   width: 80px;
   height: 38px;
   margin: 0 auto;
}

.raiting {
    margin-top: 50px;
    width: 100%;
    font-size: 0;
}

.raiting_item {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-image: url(../img/greystar.svg);
    background-position: center;
    margin-right: 10px;
}

.raiting_item:last-child{
    margin-right: 0;
}

.raiting_item.active{
    background-image: url(../img/star.svg);
}

.portfolio {
    background-color: #f6f6f6;
    padding: 100px 0;
    text-align: center;
}

.portfolio_item {
    margin-bottom: 40px;
}

.image_description {
    width: 100%;
    margin: 40px auto 70px;
    text-transform: capitalize;
    text-decoration-line: underline;
}

.image_description p{
    margin-bottom: 0;
}

.site_heading.contacts {
    margin: 100px auto 20px;
}

.contacts_descripting {
    width: 100%;
    text-align: center;
    margin-bottom: 0 auto 60px;
}

.button { 
    width: 180px;
    height: 44px;
    padding: 10px 16px;
    margin: 0 auto 30px;
    border-radius: 22px;
    display: block;
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

.contacts_content {
    width: 100%;
    padding-top: 60px;
    text-align: center;
}
.contacts_item {
    display: inline-block;
    font-size: 0;
    margin-right: 50px;
    
}
.contact_icon {
    display: inline-block;
    width: 40px;
}

.contacts_item:last-child {
    margin: 0;
} 

.contacts_description {
    font-size: 14px;
    color: #828282;
    text-transform: capitalize;
    padding-top: 60px;
}