body {
    width: 793px;
    background-color: #3B3F45;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 793px;
    margin-bottom: 20px;
}

.header_list {
    text-align: center;
    text-transform: capitalize;
    background-color: #4A4F56;
    border: 0;
}

.header_item {
    font-size: 24px;
    color: #FF8984;
    font-weight: bold;
    padding-top: 19px;
}

.header_sub {
    font-size: 18px;
    color: #FF8984;
    padding-bottom: 12px;
}

.list_row {
    background-color: #88839E;
    width: 100%;
    max-width: 534px;
    margin: 0 auto;
}

.list_row span{
    display: inline-block;
    vertical-align: middle;
}

.list_row span:last-of-type {
    font-size: 14px;
}

input[type='checkbox'] {
    display: none;
}

label {
    width: 100%;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

label::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin-right: 10px;
}

.product_content::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -5px;
    opacity: 0;
    transition: all 1s ease;
}

input[type='checkbox']:checked + label .product_content::before {
    background-image: url('https://www.symbols.com/images/symbol/2320_check-mark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;
}

input[type='checkbox']:checked + label .product_content::after {
    width: 105%;
    opacity: 0.5;
} 

.product_content {
    display: inline-block;
    position: relative;
}